.site-header {
  top: 0;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--color-bg);
  border-top: 3px solid var(--color-secondary);
}

@media (min-width: 1024px) {
  .site-header {
    padding: 15px 30px;
  }
}

.site-header__logo-container {
  margin: 0;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .site-header__logo-container {
    margin: 0;
  }
}

.site-header__logo {
  width: 25px;
  height: 25px;
  margin-bottom: 0;
  margin-right: 10px;
}

.site-header__nav {
  width: auto;
  margin-top: 0;
}

@media (min-width: 1024px) {
  .site-header__nav {
    width: auto;
    margin-top: 0;
  }
}

.site-header__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header__item {
  margin: 0 6px;
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .site-header__item {
    margin: 0 20px;
    font-size: 15px;
  }
}

.site-header__link {
  display: flex;
  align-items: center;
  color: var(--color-text);
}

.site-header__link:hover {
  border-bottom: none;
}

/* @media (max-width:425px) {
  .site-header__logo-container {
    margin-right: 12px;
  }

  .site-header__item {
    margin: 0 6px;
    font-weight: 500;
    font-size: 12px;
  }
} */

@media (max-width:440px) {
  .site-header {
    justify-content: center;
    padding: 8px 15px;
  }

  .site-header__logo {
    display: block;
  }
}