<footer class="site-footer">
  <section class="social-media">
    <a target="_blank" href="https://github.com/arselt">
      <i class="bi bi-github" role="img" aria-label="github"></i> 
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/arastorga/">
      <i class="bi bi-linkedin" role="img" aria-label="linkedin"></i> 
    </a>
    <a target="_blank" href="https://www.instagram.com/xarselt/">
      <i class="bi bi-instagram" role="img" aria-label="instagram"></i> 
    </a>
    <a target="_blank" href="mailto:xarselt@gmail.com">
      <i class="bi bi-envelope-paper-fill" role="img" aria-label="email"></i>
    </a>
    <a target="_blank" href="https://twitter.com/xarselt">
      <i class="bi bi-twitter" role="img" aria-label="twitter"></i> 
    </a>
  </section>
  <small>
    Template by <a target="_blank" href="https://www.tylerroderick.com">Tyler M. Roderick</a>.
    Modified on La Laguna by <a target="_blank" href="https://github.com/arselt/">Arath</a>.
  </small>
</footer>
