<footer class="site-footer">
  <section class="social-media">
    <a href="https://github.com/arselt">
      <img src="https://raw.githubusercontent.com/arselt/arseltcom/main/static/img/logos/github.png" alt="github logo">
    </a>
    <a href="https://www.linkedin.com/in/arastorga/">
      <img src="https://raw.githubusercontent.com/arselt/arseltcom/main/static/img/logos/linkedin.png" alt="linkedin logo">
    </a>
    <a href="https://www.instagram.com/xarselt/">
      <img src="https://raw.githubusercontent.com/arselt/arseltcom/main/static/img/logos/instagram.png" alt="instagram logo">
    </a>
    <a href="https://twitter.com/xarselt">
      <img src="https://raw.githubusercontent.com/arselt/arseltcom/main/static/img/logos/twitter.png" alt="twitter logo">
    </a>
  </section>
  <small>
    Template by <a href="https://www.tylerroderick.com">Tyler M. Roderick</a>.
    Modified on La Laguna by <a href="https://github.com/arselt/">Arath<a/>.
  </small>
</footer>
